<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>TenderHack-TBB</title>
	<script src="/js/main.js"></script>
	<script src="https://kit.fontawesome.com/0007747f03.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="searchh">
		<input class="search" type="search" name="search"
			onfocus="(document.getElementById('block').classList.toggle('hidden'))"
			onblur="(document.getElementById('block').classList.toggle('hidden'))"
			oninput="getRequest()">
		<i class="fa-solid fa-magnifying-glass" onclick="getRequest()"></i>
	</div>

	<table class="hidden" id="block" border="1" , width="600" align="center" style="margin-top: 30px;">
		<tr>
			<td>Opaaaaaa</td>
		</tr>
		<tr>
			<td>Opaaaaaaa</td>
		</tr>
		<tr>
			<td>Opaaaaaaa</td>
		</tr>
	</table>

</body>

</html>