@font-face {
    font-family: 'Yandex Sans';
    src: local('Yandex Sans Display Thin'), local('Yandex-Sans-Display-Thin'),
        url('/fonts/YandexSansDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
	font-family: 'Yandex Sans';
	src: local('Yandex Sans Display Regular'), local('Yandex-Sans-Display-Regular'),
	    url('/fonts/YandexSansDisplay-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Yandex Sans';
	src: local('Yandex Sans Display Bold'), local('Yandex-Sans-Display-Bold'),
	    url('/fonts/YandexSansDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

input[type="search"]::-webkit-search-cancel-button { /* псевдо что-то, что отвечает за кнопку очистки */
	-webkit-appearance: none; /* без сброса оформление не применится */
	width: 30px; /* размеры кастомного крестика */
	height: 30px;
	/* background: url(basic-cancel-close-cross-delete-exit-svgrepo-com.svg); новый вид крестика */
	margin-right: 1.5em; /* его даже можно позиционировать */
	margin-bottom: 0.03em;
	cursor: pointer; /* вот это не работает */
	transform: scale(0.65);
}

.searchh {
	display: flex;
	justify-content: center;
}

.fa-magnifying-glass {
	margin-top: 0.7em;
	margin-left: -1.6em;
	font-size: 20px;
	transition: all 0.3s ease;
}

.fa-magnifying-glass:hover {
	cursor: pointer;
	transition: all 0.3s ease;
	color: #9B9B9B;
}

.search {
	width: 600px;
	height: 50px;
	border-style: solid;
	border-color: orange;
	border-radius: 10px;
	padding-left: 30px;
	font-size: 30px;
	outline: none;
	font-family: "Yandex Sans";
	font-weight:  400;
}

.hidden {
	display: none;
	visibility: hidden;
	margin: auto;
}

.visible
{
	display: block;
	visibility: visible;
	margin: auto;
}

#block {
	border:  none;
}

#block td{
	border: none;
	padding: 15px;
	border-radius: 10px;
	font-family: "Yandex Sans";
	font-weight: 400;
}

#block td:hover{
	background-color: #FFE49E ;
	transition: all 0.3s ease;
	cursor: pointer;
}